<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1912765_vb7t84kf4o.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/animate.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</head>

<body>
    <!-- 1. 顶部导航栏1 -->
    <div class="topNav1">
        <div class="wrap clearfix">
            <!-- 1.1. 顶部左边导航栏 -->
        <ul class="topNav1_navLeft">
            <li>
                <a href="#1">
                    <span>网站导航</span>
                  <span class="arrowBtn iconfont icon-down"></span>
                </a>
            </li>
            <li>
                <a href="#1">
                    <span>商家入驻</span>
                  <span class="arrowBtn iconfont icon-down"></span>
                </a>
            </li>
            <li>
                <a href="#1">
                    <span>客户服务</span>
                  <span class="arrowBtn iconfont icon-down"></span>
                </a>
            </li>
        </ul>
        <!-- 1.2. 地址 -->
        <div class="topNav1_address">
            <span class="topNav1_address_icon iconfont icon-dizhi"></span>
            <select name="address" class="selectAddress">
                <option value="beijing" selected>北京</option>
            </select>
        </div>
        <!-- 1.3. 登录注册 -->
            <ul class="topNav1_registerAndLogin">
                <li>
                    <a href="./login.html">请登录</a>
                </li>
                <li>
                    <a href="./register.html" class="fontColor">注册有礼</a>
                </li>
            </ul>
        <!-- 1.4. 顶部右边边导航栏 -->
        <ul class="topNav1_navRight">
            <li>
                <a href="#1">
                    <span>我的订单</span>
                  <span class="arrowBtn iconfont icon-down"></span>
                </a>
            </li>
            <li>
                <a href="#1">
                    <span>我的易购</span>
                  <span class="arrowBtn iconfont icon-down"></span>
                </a>
            </li>
            <li>
                <a href="#1">
                    <span>小优会员</span>
                </a>
            </li>
            <li>
                <a href="./gouwuche.html" class="fontColor">
                    <span class = "cartIcon iconfont icon-gouwuchekong"></span>
                    <span>购物车</span>
                    <span class = "num">0</span>
                </a>
            </li>
            <li>
                <a href="#1">
                    <span>易付宝</span>
                </a>
            </li>
            <li>
                <a href="#1">
                    <span>企业采购</span>
                  <span class="arrowBtn iconfont icon-down"></span>
                </a>
            </li>
            <li>
                <a href="#1">
                    <span>手机小优</span>
                  <span class="arrowBtn iconfont icon-down"></span>
                </a>
            </li>
        </ul>
        </div>
    </div>
    <!-- 2. 顶部导航栏2 -->
    <div class="topNav2">
        <div class="wrap">
            <!-- 2.1. 顶部导航栏2上部分 -->
            <div class="topNav2_top clearfix">
                <a href="./index.html" class="logo fl">
                    <img src="image/logo.jpg" alt="">
                </a>
                <!-- 2.1.1 顶部导航栏2上部分右边 -->
                <div class="fl topNav2_top_right">
                    <!-- 2.1.1.1 顶部导航栏2上部分右边的搜索框 -->
                    <div class="topNav2_top_right_search">
                        <input type="text" class="topNav2_top_right_search_input">
                        <button class="topNav2_search_button">
                            搜索
                        </button>
                        <p class="topNav2_top_right_search_placeholder">
                            <span class="iconfont icon-fangdajing"></span>
                            跨店每300减30
                        </p>
                    </div>
                    <!-- 2.1.1.1 顶部导航栏2上部分右边的导航栏 -->
                    <ul class="topNav2_top_right_shopsNav ">
                        <li>
                            <a href="#1">手机</a>
                        </li>
                        <li>
                            <a href="#1">电动牙刷</a>
                        </li>
                        <li>
                            <a href="#1">电视</a>
                        </li>
                        <li>
                            <a href="#1">海尔空调 </a>
                        </li>
                        <li>
                            <a href="#1">洗衣机 </a>
                        </li>
                        <li>
                            <a href="#1">茅台 </a>
                        </li>
                        <li>
                            <a href="#1">热水器 </a>
                        </li>
                        <li>
                            <a href="#1">ipad </a>
                        </li>
                        <li>
                            <a href="#1">微波炉 </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 2.2. 顶部导航栏2底部分 -->
            <div class="topNav2_bottom clearfix">
                <div class="topNav2_bottom_allBtn fl">
                    <span class="iconfont icon-iconfontzhizuobiaozhun45"></span>
                    <span>全部商品分类</span>
                </div>
                <!-- 2.2.1. 全部商品详细分类 -->
                <ul class="topNav2_bottom_shopTypeDetail">
                    <li>
                        <a href = "#1">手机</a>
                        <a href = "#1">运营商</a>
                        <a href = "#1">智能数码</a>
                    </li>
                    <li>
                        <a href = "#1">空调</a>
                        <a href = "#1">电视</a>
                        <a href = "#1">冰箱</a>
                        <a href = "#1">洗衣机</a>
                    </li>
                    <li>
                        <a href = "#1">厨卫大电</a>
                        <a href = "#1">生活家电</a>
                        <a href = "#1">厨具</a>
                    </li>
                    <li>
                        <a href = "#1">电脑办公</a>
                        <a href = "#1">相机</a>
                        <a href = "#1">DIY</a>
                    </li>
                    <li>
                        <a href = "#1">家居</a>
                        <a href = "#1">家具</a>
                        <a href = "#1">家装</a>
                        <a href = "#1">家纺</a>
                    </li>
                    <li>
                        <a href = "#1">食品</a>
                        <a href = "#1">酒水</a>
                        <a href = "#1">生鲜</a>
                        <a href = "#1">特产</a>
                    </li>
                    <li>
                        <a href = "#1">美妆</a>
                        <a href = "#1">个护</a>
                        <a href = "#1">清洁</a>
                        <a href = "#1">宠物</a>
                    </li>
                    <li>
                        <a href = "#1">母婴</a>
                        <a href = "#1">玩具</a>
                        <a href = "#1">车床</a>
                        <a href = "#1">童装</a>
                    </li>
                    <li>
                        <a href = "#1">运动</a>
                        <a href = "#1">户外</a>
                        <a href = "#1">足球</a>
                        <a href = "#1">跑步机</a>
                    </li>
                    <li>
                        <a href = "#1">男装</a>
                        <a href = "#1">女装</a>
                        <a href = "#1">内衣</a>
                        <a href = "#1">鞋靴</a>
                    </li>
                    <li>
                        <a href = "#1">箱包</a>
                        <a href = "#1">钟表</a>
                        <a href = "#1">珠宝</a>
                        <a href = "#1">艺术</a>
                    </li>
                    <li>
                        <a href = "#1">汽车</a>
                        <a href = "#1">汽摩</a>
                        <a href = "#1">二手车</a>
                        <a href = "#1">车品</a>
                    </li>
                    <li>
                        <a href = "#1">图书</a>
                        <a href = "#1">艺术</a>
                        <a href = "#1">原版</a>
                        <a href = "#1">文学</a>
                    </li>
                    <li>
                        <a href = "#1">医药健康</a>
                        <a href = "#1">计生情趣</a>
                    </li>
                    <li>
                        <a href = "#1">理财</a>
                        <a href = "#1">分期</a>
                        <a href = "#1">保险</a>
                    </li>
                </ul>
                </ul>
                <!-- 2.2.2. 顶部导航栏2底部分的导航栏 -->
                <ul class="topNav2_bottom_shopNav fl clearfix">
                    <li>
                        <a href="#1">限时抢购</a>
                    </li>
                    <li>
                        <a href="#1">红孩子</a>
                    </li>
                    <li>
                        <a href="#1">小U超市</a>
                    </li>
                    <li>
                        <a href="#1">电器城</a>
                    </li>
                    <li>
                        <a href="#1">生活家电</a>
                    </li>
                    <li>
                        <a href="#1">时尚服饰</a>
                    </li>
                    <li>
                        <a href="#1">金融</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 3. banner部分 -->
    <div class="banner">
        <div class="wrap">
            <!-- 3.1. banner部分轮播 -->
           <div class="banner_lunbo">
               <!-- 3.1.1. banner部分的轮播图 -->
               <ul class="banner_lunbo_imgs" id="ul">

               </ul>
               <!-- 3.1.2. banner部分的左右轮播按钮 -->
               <span class="iconfont icon-jiantou1 banner_lunbo_btn bntleft"></span>
               <span class="iconfont icon-jiantou banner_lunbo_btn bntright"></span>
               <!-- 3.1.2. banner部分的圆点轮播按钮 -->
               <ul class="banner_lunbo_circleBtn">

               </ul>
           </div>
        </div>
    </div>
    <div class="sectionBox">
        <!-- 4. 限时抢购与大惠聚区 -->
        <div class="wrap section1 clearfix">
            <!-- 4.1. 限时抢购 -->
            <div class="section1_qianggou fl">
                <!-- 4.1.1. 限时抢购顶部 -->
                <div class="section1_qianggou_top clearfix">
                    <span class="title">限时抢购</span>
                    <span class="span1">
                    距离下场
                </span>
                    <span class="time hour">03</span>
                    <span class="time minute">41</span>
                    <span class="time second ">16</span>
                    <ul class="StartTime  fr clearfix">
                        <li class="active">16:00场-正在疯抢</li>
                        <li>20:00场-即将开始</li>
                    </ul>
                </div>
                <!-- 4.1.2. 限时抢购商品 -->
                <ul class="section1_qianggou_shops">

                </ul>
            </div>
            <!-- 4.2. 大聚惠 -->
            <div class="section1_youhui fr">
                <div class="section1_youhui_top clearfix">
                    <p class="section1_youhui_top_title fl">
                        大聚惠
                    </p>
                    <a href="#1" class="section1_youhui_top_more fr">
                        更多<span class="iconfont icon-gengduo"></span>
                    </a>
                </div>
                <a href="#1" class="section1_youhui_middle">
                    <img src="./image/indexImg/songshu.jpg" alt="">
                </a>
                <ul class="section1_youhui_button clearfix">
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/songshu_intro1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/songshu_intro2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/songshu_intro3.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 5. 排行榜与人气好货-->
        <div class="wrap section2 clearfix">
            <!-- 5.1. 排行榜 -->
            <div class="section2_rankList fl">
                <div class="section2_common_top clearfix">
                    <span class="section2_common_top_title fl">
                        排行榜
                    </span>
                    <a href="#1" class="section2_common_top_more fr">
                        更多 <span class="iconfont icon-gengduo"></span>
                    </a>
                </div>
                <ul class="section2_rankList_nav clearfix">
                </ul>
                <ul class="section2_rankList_goodsShow">
                    <li>
                        <a href="#1" class="fl">
                            <img src="" alt="">
                        </a>
                        <div class="fr">
                            <p class="goodsName"></p>
                            <div>
                                <p class="goodsPrice fl"></p>
                                <p class="goodsTag fr"></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="section2_rankList_Btns">
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <!-- 5.2. 人气好货 -->
            <div class="section2_goodList fr">
                <div class="section2_common_top clearfix">
                    <span class="section2_common_top_title fl">
                        排行榜
                    </span>
                    <a href="#1" class="section2_common_top_more fr">
                        更多 <span class="iconfont icon-gengduo"></span>
                    </a>
                </div>
                <ul class="section2_goodList_show clearfix">
                    <li>
                        <a href="#1">
                            <img src="" alt="">
                        </a>
                        <p class="goodsName"></p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 6. 广告横栏 -->
        <ul class="wrap section3 clearfix">
            <li>
                <a href="#1">
                    <img src="image/indexImg/ad1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#1">
                    <img src="image/indexImg/ad2.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#1">
                    <img src="image/indexImg/ad3.jpg" alt="">
                </a>
            </li>
        </ul>
        <!-- 7. 发现好货-->
        <div class="wrap section4 clearfix">
            <!-- 7.1. 发现好货左边 -->
            <div class="section4_left fl">
                <a href="#1">
                    <div href ="#1" class="section4_left_findGoods">
                        <div class="section4_left_findGoods_txt">
                            探索新生活 <span class="iconfont icon-gengduo"></span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 7.2. 发现好货右边 -->
            <div class="section4_right fr">
                <ul class="section4_right_imgs">
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_01.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_02.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_03.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_04.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_05.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_01.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_02.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_03.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_04.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#1">
                            <img src="./image/indexImg/yidong_05.jpg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="section4_right_line">
                    <div class="moveLine"></div>
                </div>
            </div>
        </div>
        <!-- 8.服饰与运动-->
        <div class="wrap section5 goodsColumns clearfix">
            <!--8.1服饰与运动 -- 服饰 -->
            <div class="goodsColumns_com cloths fl">
                <!--8.1.1服饰与运动 -- 服饰顶部 -->
                <div class="goodsColumns_com_top clearfix">
                    <div class="goodsColumns_com_top_title fl">
                        服装配饰 <span class="iconfont icon-qr-code"></span>
                    </div>
                    <ul class="goodsColumns_com_top_nav fr">
                        <li><a href="#1">骆驼鞋靴</a></li>
                        <li><a href="#1">珠宝年货节</a></li>
                        <li><a href="#1">洁丽雅</a></li>
                        <li><a href="#1">海澜之家</a></li>
                    </ul>
                </div>
                <div class="goodsColumns_com_goodsShow clearfix">
                    <!--8.1.1服饰与运动 -- 服饰左边-->
                    <a href="#1">
                        <div class="goodsColumns_com_goodsShow_left fl">
                            <div class="txt">
                                <p class="p1">珠宝年货节</p>
                                <p class="p2">每400减50</p>
                            </div>
                        </div>
                    </a>
                    <!--8.1.2服饰与运动 -- 服饰右边-->
                    <ul class="goodsColumns_com_goodsShow_right fr">
                        <li>
                            <a href="#!">
                                <p class="p1">森马</p>
                                <p class="p2">2件3折</p>
                                <img src="./image/indexImg/fuzhuang1.jpeg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">森马</p>
                                <p class="p2">2件3折</p>
                                <img src="./image/indexImg/fuzhuang1.jpeg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">森马</p>
                                <p class="p2">2件3折</p>
                                <img src="./image/indexImg/fuzhuang1.jpeg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">森马</p>
                                <p class="p2">2件3折</p>
                                <img src="./image/indexImg/fuzhuang1.jpeg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--8.1服饰与运动 -- 运动 -->
            <div class="goodsColumns_com outdoorSport fr">
                <!--8.1.1服饰与运动 -- 运动顶部 -->
                <div class="goodsColumns_com_top clearfix">
                    <div class="goodsColumns_com_top_title fl">
                        户外运动 <span class="iconfont icon-qr-code"></span>
                    </div>
                    <ul class="goodsColumns_com_top_nav fr">
                        <li><a href="#1">鸿星尔克</a></li>
                        <li><a href="#1">斯凯奇</a></li>
                        <li><a href="#1">耐克</a></li>
                        <li><a href="#1">阿迪达斯</a></li>
                    </ul>
                </div>
                <div class="goodsColumns_com_goodsShow clearfix">
                    <!--8.1.1服饰与运动 -- 服饰左边-->
                    <a href="#1">
                        <div class="goodsColumns_com_goodsShow_left fl">
                            <div class="txt">
                                <p class="p1">土拨鼠</p>
                            </div>
                        </div>
                    </a>
                    <!--8.1.2服饰与运动 -- 服饰右边-->
                    <ul class="goodsColumns_com_goodsShow_right fr">
                        <li>
                            <a href="#!">
                                <p class="p1">特步</p>
                                <p class="p2">暖冬钜惠</p>
                                <img src="./image/indexImg/wuwai1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">特步</p>
                                <p class="p2">暖冬钜惠</p>
                                <img src="./image/indexImg/wuwai1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">特步</p>
                                <p class="p2">暖冬钜惠</p>
                                <img src="./image/indexImg/wuwai1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">特步</p>
                                <p class="p2">暖冬钜惠</p>
                                <img src="./image/indexImg/wuwai1.gif" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 9.金融与阅读-->
        <div class="wrap section5 goodsColumns clearfix">
            <!--9.1. 金融与阅读 -- 金融 -->
            <div class="goodsColumns_com finance fl">
                <!--9.1.1. 金融与阅读 -- 金融顶部 -->
                <div class="goodsColumns_com_top clearfix">
                    <div class="goodsColumns_com_top_title fl">
                        金融 <span class="iconfont icon-qr-code"></span>
                    </div>
                    <ul class="goodsColumns_com_top_nav fr">
                        <li><a href="#1">满200减50</a></li>
                        <li><a href="#1">抽华为</a></li>
                        <li><a href="#1">888元红包</a></li>
                        <li><a href="#1">20%返利</a></li>
                    </ul>
                </div>
                <div class="goodsColumns_com_goodsShow  clearfix">
                    <!--9.2.1. 金融与阅读 -- 金融左边-->
                    <a href="#1">
                        <div class="goodsColumns_com_goodsShow_left fl">
                            <div class="txt">
                                <p class="p1">30大借款免息</p>
                                <p class="p2">任性贷新客免息</p>
                            </div>
                        </div>
                    </a>
                    <!--9.2.2. 金融与阅读 -- 阅读右边-->
                    <ul class="goodsColumns_com_goodsShow_right fr">
                        <li>
                            <a href="#!">
                                <p class="p1">最高20%返利</p>
                                <p class="p2">品牌卡购物折上折</p>
                                <img src="./image/indexImg/jinrong1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">最高20%返利</p>
                                <p class="p2">品牌卡购物折上折</p>
                                <img src="./image/indexImg/jinrong1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">最高20%返利</p>
                                <p class="p2">品牌卡购物折上折</p>
                                <img src="./image/indexImg/jinrong1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">最高20%返利</p>
                                <p class="p2">品牌卡购物折上折</p>
                                <img src="./image/indexImg/jinrong1.gif" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--9.2 金融与阅读 -- 阅读 -->
            <div class="goodsColumns_com read fr">
                <!--9.2.1 金融与阅读 -- 阅读顶部 -->
                <div class="goodsColumns_com_top clearfix">
                    <div class="goodsColumns_com_top_title fl">
                        阅读 <span class="iconfont icon-qr-code"></span>
                    </div>
                    <ul class="goodsColumns_com_top_nav fr">
                        <li><a href="#1">经管励志</a></li>
                        <li><a href="#1">童书</a></li>
                        <li><a href="#1">文学</a></li>
                        <li><a href="#1">教辅</a></li>
                        <li><a href="#1">人文社科</a></li>
                    </ul>
                </div>
                <div class="goodsColumns_com_goodsShow clearfix">
                    <!--9.2.2 金融与阅读 -- 阅读左边-->
                    <a href="#1">
                        <div class="goodsColumns_com_goodsShow_left fl">
                            <div class="txt">
                                <p class="p1">苏宁图书</p>
                                <p class="p2">阅读好书</p>
                            </div>
                        </div>
                    </a>
                    <!--9.2.2 金融与阅读 -- 阅读右边-->
                    <ul class="goodsColumns_com_goodsShow_right fr">
                        <li>
                            <a href="#!">
                                <p class="p1">果麦文化</p>
                                <p class="p2">更好的精神粮食</p>
                                <img src="./image/indexImg/read1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">果麦文化</p>
                                <p class="p2">更好的精神粮食</p>
                                <img src="./image/indexImg/read1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">果麦文化</p>
                                <p class="p2">更好的精神粮食</p>
                                <img src="./image/indexImg/read1.gif" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <p class="p1">果麦文化</p>
                                <p class="p2">更好的精神粮食</p>
                                <img src="./image/indexImg/read1.gif" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 10. 广告横栏 -->
        <ul class="wrap section3 clearfix">
            <li>
                <a href="#1">
                    <img src="image/indexImg/ad1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#1">
                    <img src="image/indexImg/ad2.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#1">
                    <img src="image/indexImg/ad3.jpg" alt="">
                </a>
            </li>
        </ul>
        <!-- 11. 猜你喜欢 -->
        <div class="wrap section7 youLike">
            <!-- 11.1 猜你喜欢-- 标题 -->
            <div class="youLike_title">猜你喜欢</div>
            <!-- 11.2 猜你喜欢-- 商品展示 -->
            <ul class="youLike_goodsShow clearfix">
                <li>
                    <a href="#1">
                        <img src="" alt="">
                        <p class="goodsIntro"></p>
                    </a>
                </li>
               
            </ul>
        </div>
        <!-- 12. 结束 -->
        <div class="end"></div>
    </div>

    <!-- 13. 页面底部 -->
    <div class="footer">
        <div class="wrap">
            <div class="footer_nav clearfix">
                <dl class="fl">
                    <dt>购物指南</dt>
                    <dd>
                        <a href="#!">购物流程</a>
                    </dd>
                    <dd>
                        <a href="#!">支付方式</a>
                    </dd>
                    <dd>
                        <a href="#!">配送方式</a>
                    </dd>
                </dl>
                <dl class="fl">
                    <dt>售后服务</dt>
                    <dd>
                        <a href="#!">售后政策</a>
                    </dd>
                    <dd>
                        <a href="#!">价格保护</a>
                    </dd>
                    <dd>
                        <a href="#!">退款说明</a>
                    </dd>
                    <dd>
                        <a href="#!">返修/退换货</a>
                    </dd>
                    <dd>
                        <a href="#!">取消顶单</a>
                    </dd>
                </dl>
                <dl class="fl">
                    <dt>配送方式</dt>
                    <dd>
                        <a href="#!">上门自提</a>
                    </dd>
                    <dd>
                        <a href="#!">211限时达</a>
                    </dd>
                    <dd>
                        <a href="#!">配送服务查询</a>
                    </dd>
                    <dd>
                        <a href="#!">配送费收取标准</a>
                    </dd>
                    <dd>
                        <a href="#!">海外配送</a>
                    </dd>
                </dl>
                <dl class="fl">
                    <dt>支付方式</dt>
                    <dd>
                        <a href="#!">网上支付</a>
                    </dd>
                    <dd>
                        <a href="#!">支付宝支付</a>
                    </dd>
                    <dd>
                        <a href="#!">邮局汇款</a>
                    </dd>
                </dl>
                <dl class="fl">
                    <dt>用户帮助</dt>
                    <dd>
                        <a href="#!">免费注册</a>
                    </dd>
                    <dd>
                        <a href="#!">找回密码</a>
                    </dd>
                    <dd>
                        <a href="#!">常见问题</a>
                    </dd>
                    <dd>
                        <a href="#!">优惠券使用</a>
                    </dd>
                    <dd>
                        <a href="#!">常见问题</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="footer_copy">
            <p>
                Copyright@ 2010-2016小U商城版权所有保留-切权利
            </p>
            <p style="padding-top: 12px;">
                京ICP备10218183号 京ICP证161188号京公网安备11010802020593号出版物经营许可证新出发京批字第直130052号
            </p>
        </div>
    </div>
</body>
</html>